.container{
    overflow: scroll;  
    height: 80vh;
}

.container input{
    border-radius: 10px;

}
h1{
    color: wheat;
}

h2{
    color: rgb(130, 180, 130);
}

.sub{
    background: linear-gradient(rgb(205, 183, 183), rgb(122, 119, 119));
    color: #333;
    transition-duration: 500ms;
    font-weight: bold;
    border:1px solid white;
    width: 5em;
    
}

.sub:hover{
    cursor: pointer;
    background: linear-gradient(rgb(145, 129, 129), rgb(156, 141, 141));
}

ul{
    padding: 0em;
    height: auto;
}
li{
    margin-bottom: .6em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-left: .5em;
    padding-right: .5em;

}

li span{
    font-size: 1.1em;
}

li:hover{
    cursor: pointer;
}
#item{
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    color: rgb(106, 106, 169);
    word-break: break-all;
}
.del{
    background:linear-gradient(wheat,white);
    color: red;
    border-radius: 10px;
    width: 1.5em;
    text-align: center;
    margin-top: .2em;
    margin-left: 1em;
}

a{
    background:linear-gradient(rgb(196, 106, 106),rgb(225, 114, 114));
    color: white;
    width: 6em;
    border-radius: 10px;
    border: 1px solid white;
    text-decoration: none;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;
}


@media (min-width:1300px) {
    .container{
        width:40em;
        max-height: 35em;
    }
}